/* headercss */
.logo {
    height: 60px;
    width: 99px;
}
.text-orange
{
    color: #f48840 !important;
}
.bg-orange
{
    background-color: #f48840 !important;
}
.text-white
{
    color: white;
}

.pl-0
{
    padding-left: 0!important;
}
.f-right
{
    float: right;
}

a:hover
{
    color: #f48840 !important;
     
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
    color: #f48840;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #f48840;
}

.navbar-light .navbar-nav .nav-link {
    color: #1e1e1e;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 800;
    font-size: 15px;
}

.nav-item {
    margin: 0px 15px
}
/* footercss */
.background-black 
{
    text-align: center;
    background-color: #20232e;
    color: white;
    padding: 60px 0px;
}

.social-icons {
    list-style: none;
    text-transform: uppercase;
    /* display: flex; */
}

footer ul li {
    display: inline-block;
    border-right: 1px solid #dee2e6 !important;
    padding: 0px 44px;
    font-weight: 500;
    letter-spacing: 0.25px;
    font-size: 14px;
}

footer hr {
    margin: 60px 0px;
}

.social-icons li:hover {
    color: #f48840;
}

.linkcolor {
    color: #f48840;
}

.linkcolor:hover {
    color: #f48840;
}

.link-size {
    font-size: 13px;
}

.boder-right-none {
    border-right: none !important;
}